@page "/jobposts/create"
@using Microsoft.EntityFrameworkCore
@using SmoothCareers.Domain
@inject IDbContextFactory<SmoothCareers.Data.SmoothCareersContext> DbFactory
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator, Employer")]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>JobPost</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="JobPost" OnValidSubmit="AddJobPost" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="employerid" class="form-label">Employer:</label> 
                
                
                <InputNumber id="employerid" @bind-Value="JobPost.EmployerId" class="form-control" /> 
                <ValidationMessage For="() => JobPost.EmployerId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="jobcategoryid" class="form-label">JobCategory:</label> 
                //
                
               
                <InputNumber id="jobcategoryid" @bind-Value="JobPost.JobCategoryId" class="form-control" /> 
                <ValidationMessage For="() => JobPost.JobCategoryId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="jobtypeid" class="form-label">JobTypeId:</label> 
                //
                <InputNumber id="jobtypeid" @bind-Value="JobPost.JobTypeId" class="form-control" /> 
                <ValidationMessage For="() => JobPost.JobTypeId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="workarrangementid" class="form-label">WorkArrangementId:</label> 
                //
                <InputNumber id="workarrangementid" @bind-Value="JobPost.WorkArrangementId" class="form-control" /> 
                <ValidationMessage For="() => JobPost.WorkArrangementId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="JobPost.Title" class="form-control" /> 
                <ValidationMessage For="() => JobPost.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="JobPost.Description" class="form-control" /> 
                <ValidationMessage For="() => JobPost.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label> 
                <InputText id="location" @bind-Value="JobPost.Location" class="form-control" /> 
                <ValidationMessage For="() => JobPost.Location" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="salary" class="form-label">Salary:</label> 
                <InputNumber id="salary" @bind-Value="JobPost.Salary" class="form-control" /> 
                <ValidationMessage For="() => JobPost.Salary" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateposted" class="form-label">DatePosted:</label> 
                <InputDate id="dateposted" @bind-Value="JobPost.DatePosted" class="form-control" /> 
                <ValidationMessage For="() => JobPost.DatePosted" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="JobPost.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => JobPost.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="JobPost.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => JobPost.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="JobPost.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => JobPost.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="JobPost.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => JobPost.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/jobposts">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private JobPost JobPost { get; set; } = new();

    private SmoothCareersContext context = default!;
    private IList<Employer> Employers = new List<Employer>();
    private IList<JobCategory> JobCategories = new List<JobCategory>();
    private IList<JobType> JobTypes = new List<JobType>();
    private IList<WorkArrangement> WorkArrangements = new List<WorkArrangement>();

    //OnInitialized method to get all Makes, Models and Colours
 

    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider
    //Override the OnInitialized method to get the user id.
    protected override async void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        Employers = context.Employer.ToList();
        JobCategories = context.JobCategory.ToList();
        JobTypes = context.JobType.ToList();
        WorkArrangements = context.WorkArrangement.ToList();
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddJobPost()
    {
        using var context = DbFactory.CreateDbContext();
        
        JobPost.CreatedBy = userId;
        JobPost.UpdatedBy = userId;
        //Set the DateCreated and DateUpdated fields to the current date and time.
        JobPost.DateCreated = DateTime.Now;
        JobPost.DateUpdated = DateTime.Now;
        
        
        
        context.JobPost.Add(JobPost);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/jobposts");
    }
}
