@page "/savedjobs"

<PageTitle>Saved Jobs</PageTitle>

<h3>Saved Jobs</h3>

<p>
    This page is currently a placeholder for the Saved Jobs feature.
</p>

<p>
    You will be able to view jobs you have saved here.
</p>

<div class="mt-3">
    <a href="/jobposts">Back to Job Posts</a>
</div>
